* {
    user-select: none;
    box-sizing: border-box;
}

.CardPlaceholder {
    height: 210px;
    width:  160px;
    border-style: solid;
    border-width: 1px;
    border-color:whitesmoke;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CardFace{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border-style: double;
    border-width: 5px;
    border-radius: 5px;
    border-color: black;
    height: 210px;
    width: 160px;
}

.BlueControl {
    background-color: royalblue;
}

.RedControl {
    background-color: crimson;
}

.CardPicture{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 85%;
    width: 85%;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-style: groove;
    border-color: black;
}

.CardName {
    display: none;
}

.CardFace:hover .CardName {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    margin-top: 10px;
    width: 100%;
    white-space: pre-wrap;
    text-align: center;
    font-size: medium;
    font-weight: 900;
    color: white;
    background-color:rgba(0, 0, 0, 0.6);
    text-shadow: 2px 1px gray;

}

.ValuesContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    color: black;

}

.TopAndBottom {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.LeftAndRight {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 12%;
    background-color: gainsboro;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0% 100%);
    box-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.Bot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 12%;
    padding: 2px;
    background-color: gainsboro;
    clip-path: polygon(0 75%, 50% 100%, 100% 75%, 100% 0, 0 0);
    box-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.Left {
    display: flex;
    align-items: center;
    justify-content: center;
    width:15%;
    height: 25%;
    background-color: gainsboro;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    box-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.Right {
    display: flex;
    align-items: center;
    justify-content: center;
    width:15%;
    height: 25%;
    background-color: gainsboro;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    box-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.CardPlaceholder > * {
    display: none
}