.ResultScreen {
    position: absolute;
    height: 55vh;
    width: 50vw;
    background-color:rgba(0, 0, 0, 0.95);
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.ResultTitle {
    color: white;
    font-weight: 800;
    font-size: 5vh;
    margin-top: 5vh;
}

.ResultValues {
    display: flex;
    flex-direction:  row;
    justify-content: flex-start;
    align-items: flex-start;
    color: rosybrown;
}

.Score {
    display: flex;
    justify-content: flex-start;
    color: rosybrown;
    margin: 0 10vw 10vh;
    font-weight: 800;
    font-size: 15vh;
    text-shadow: 1px 2px grey
}

.ScoreDash {
    color: white;
    font-weight: 800;
    font-size: 15vh;
    text-shadow: 1px 2px grey;
}

.Winner {
    color: white;
    font-weight: 800;
    font-size: 10vh;
}

.Red {
    color: crimson;
}

.Blue {
    color: royalblue;
}