.GameField {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(30, 18, 18);
    background-image: url(../../images/board.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}